.background{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    float: left;
    padding: 0;
    position: fixed;
    object-fit: cover;
    z-index: -1;
    animation: fadein 300ms ease-in-out ;
}
@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}